*{
    margin: 0;
    padding:0
}
body{
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
}

.video-container{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -2;
    position: absolute;
}
h1{
    background-color: none;
    color: white;
    
    text-align: center;
}
.overlay{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0,0,0,0.5);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn-container{
    margin-top: 3rem;
}
.play{
    background-color: green;
    color: white;
}
.pause{
    background-color: red;
    color: white;
}
button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    min-width: 10rem;
}